<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Ponoko.Consumer.Key" value="YOUR_CONSUMER_KEY_HERE" />
		<add key="Ponoko.Consumer.Secret" value="YOUR_CONSMER_SECRET" />
		<add key="Ponoko.Token.Key" value="YOUR_TOKEN_KEY" />
		<add key="Ponoko.Token.Secret" value="YOUR_TOKEN_SECRET" />
	</appSettings>
</configuration>